h1 {
    font-family: 'Roboto Serif', serif;
    font-weight: 900;
    background-color: #0f4307;
    color: azure;
    padding: 1em 0;
    text-align: center;
    font-size: 32px;
    border: thick double azure;
}

body {
    background-color: lightgrey;
}

.page {
    width: 1000px;
    background-color: #d1e2ce;
    margin: auto;
    border: 2em solid #d1e2ce;
}

.vis-container {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.description h2 {
    margin-top: 0px;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto Serif', serif;
    text-align: justify;
    font-size: 18px;
}

.description-right {
    /* padding-left: 10%; */
    padding-right: 1em;
    /* text-align: justify; */
    font-size: 20px;
    /* background-color: #e8f1e7; */
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
    background-color: #d1e2ce;
    width: 100%;
}

.small-font {
    font-size: 18px;
}

.overperformed-xg {
    color: #327754;
    font-weight: bold;
}

.underperformed-xg {
    color: #773255;
    font-weight: bold;
}

.bundesliga {
    color: #D3010C;
    font-weight: bold;
}

.ligue-one {
    color: #8B4513;
    font-weight: bold;
}

.la-liga {
    color: #921E7F;
    font-weight: bold;
}

.forward {
    color: #003f5c;
    font-weight: bold;
}

.midfielder {
    color: #7a5195;
    font-weight: bold;
}

.goalkeeper {
    color: #ffa600;
    font-weight: bold;
}

.foot-note {
    font-size: 10px;
    font-weight: lighter;
}